header {
    background-color:blue;
    text-align:center;
    color:white;
}
.top1 {
    background-color:blue;
    text-align:center;
    color:white;
    display:inline;
}
.top2 {
    background-color:blue;
    text-align:center;
    color:white;
}